
@{
    ViewBag.Title = "GetCode";
}

<h4>authenticating...</h4>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.location='@ViewBag.url'
        });
</script>