
@{
    ViewBag.Title = "LogoutHelper";
}
 
<script src="~/Scripts/CustomScript.js"></script>

<p class="well" onclick="openInNewTab('http://www.facebook.com')">
 
     Another user is current logged in click here and log the user out
</p>

<p>
    then
</p>

<p class="well" onclick="window.location='@ViewBag.url'">

    proceed by clicking here
</p>